= form_with(model: @order, local: true) do |form|
  = form.hidden_field :type_order, value: tipo
  .field
    = form.label 'Valor', class: 'label'
    .control
      = form.number_field :value, class: 'input', step: :any
      %span
        %small ex.: 500.00 / 1000.00
  .field
    = form.label 'Favorecido', class: 'label'
    .control
      %span.select
        = form.select :favored_id, list_favored(current_account)
  .field
    = form.submit 'Enviar', class: 'button is-info'
